body {
	background-image: url('./assets/goofyimage.png');
}
main {
	background-image: url('.assets/goofyimage.png');
}
.links {
	text-emphasis: Bold;
}
.linkage {
	text-emphasis: bold;
	text-decoration-color: blueviolet;
}
